// Variables
$primary-color: #71b7e6;
$secondary-color: #9b59b6;
$text-color: #660906;
$shadow-color: rgb(8, 7, 7);

// Mixins
@mixin media-query($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

// CSS for the profile form
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #5abae0, #82e5ac);
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.container {
  width: 40%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 2px 2px 25px $shadow-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  // Media Queries
  @include media-query(576px) {
    padding: 10px;
  }

  @include media-query(768px) {
    padding: 20px;
  }

  @include media-query(992px) {
    padding: 30px;
  }
}

img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 20px;
}

table {
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 20px;
  margin: 0 auto;
}

label {
  display: block;
  max-width: 160px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.6);
  margin-bottom: 0;
}

small {
  font-size: 110%;
  color: $text-color;
  margin-bottom: 6px;
  padding: 6px;
  text-transform: capitalize;
}

span {
  text-transform: capitalize;
}

.header h1 {
  color: $text-color;
  font-size: 25px;
  font-weight: bold;
}

.header h2 {
  margin-bottom: 10px;
  color: #0f0d0d;
  padding: 10px;
  font-size: 19px;
  font-weight: bold;
}

button {
  width: 30%;
  margin: 5% auto 0;
  color: black;
  font-size: 15px;
  font-weight: bold
